@use '../../__vars' as v;

.Gif {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  
  img {
    border-radius: 1rem;
    object-fit: contain;
    width: 100%;
  }
}
