@use './__vars' as v;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.light {
  background: #fff;
  background: linear-gradient(to right, rgba(v.$light-bg, .1) 0%, v.$light-bg 10%, v.$light-bg 90%, rgba(v.$light-bg, .1) 100%);
  color: v.$light-text;
  transition: .3s all ease;
}

.dark {
  background: v.$dark-bg;
  color: #fff;
  transition: .3s all ease;
}