// Colors for white theme
$contet-bg: #CDF0EA;
$bacground: #F9F9F9;
$secondary: #F6C6EA;
$primary: #FAF4B7;
$text: #4b4b4b;

// Colors for dark theme
$blue: #022C43;
$navi: #053F5E;
$white: #F9F9F9;
$pink: #115173;
$yellow: #FFD700;
$gray: #4b4b4b;


$color1: #082032;
$color2: #2C394B;
$color3: #334756;
$color4: #FF4C29;
$white: #fdfdfd;
$dark: #282c34;
$max-width: 120rem