.wrapper {
  width: min(120rem, 100vw);
  min-height: calc(100vh - 5rem);
  margin: 0 auto;
  padding: 2rem;
}

.gosth {
  height: 7rem;
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    min-height:100vh;
  }
}